<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello TailWind CSS</title>
    <link rel="stylesheet" th:href="@{/css/tailwind.css}">
    
</head>
<body>
    <div th:replace="components/navbar::navbar"></div>
    <h1 class="text-2xl text-blue-300 text-center">See my Rank</h1>
    <form action="/data/userRank" method="post">
        <label>See your Rank</label>
        <input type="text" name="userName" placeholder="your character name">
        <br/>
        <button>see table</button>
        <br/>
    </form>
    <div th:replace="components/footer::footer"></div>
</body>
</html>